
page-tutorial {
  .toolbar-background {

    border-color: transparent;
  
  }

  .slide-zoom {
    height: 100%;
  
  }

.fistpage{
   background-color: #0070C9;
}
  .slide-title {
    margin-top: 0px;
  }
  .Gtsiano
  {
    background-color: #18345E;
  }
.slide-titleGTS {
    margin-top: 0%;
    color: #0070C9;
    font-size: 1.2em;
  }
  .slide-image {
    max-height: 100%;
    max-width: 100%;
    margin:0;
  }
.slide-image-GTS{
     max-height: 100%;
    max-width: 100%;
    margin-top: 20%;
}

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

ion-navbar{
 background-color:  #0070C9;
}
}
