$categories: (
 welcoming: color($colors, primary),
 enabler: #AC282B,
 walmartc: #8E8D93,
 people: #FE4C52,
 objectives: #FD8B2D,
);

@font-face {
    font-family: 'Fontello';
    src: url('../fonts/fontello.woff');
}
@font-face{
    font-family: 'Ionicons';
    src: url('../fonts/ionicons.woff')
}


.progress {
width: 100%;
margin: 20px auto;
text-align: center;
}
.progress .circle,
.progress .bar {
display: inline-block;
background: #fff;
width: 40px; height: 40px;
border-radius: 40px;
border: 1px solid #d5d5da;
}
.progress .bar {
position: relative;
width: 80px;
height: 3px;
top: -33px;
margin-left: -5px;
margin-right: -5px;
border-left: none;
border-right: none;
border-radius: 0;
}
.progress .circle .label {
display: inline-block;
width: 32px;
height: 32px;
line-height: 32px;
border-radius: 32px;
margin-top: 3px;
color: #b5b5ba;
font-size: 17px;
}
.progress .circle .title {
color: #b5b5ba;
font-size: 13px;
line-height: 30px;
margin-left: -5px;
}




/* Done / Active */
.progress .bar.done,
.progress .circle.done {
background: #eee;
}
.progress .bar.active {
background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
color: #FFF;
background: #81CE97;
box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
color: #444;
}
.progress .circle.active .label {
color: #FFF;
background: #0c95be;
box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
color: #0c95be;
}

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 4px solid $value;
     padding-left: 10px;
    
   }
   background-image: {
     background-image: url("../assets/kspark.png");
   }
   .fondo{
        background-image: url("../assets/kspark.png");
            background-position-y: 20px;
    background-position-x: 2px;
   }

  }


/* Pie Chart */
.progress-pie-chart {
width:100px;
height: 100px;
border-radius: 50%;
background-color: #E5E5E5;
position: relative;
}
.progress-pie-chart.gt-50 {
background-color:red;
}

.ppc-progress {
content: "";
position: absolute;
border-radius: 50%;
left: calc(50% - 100px);
top: calc(50% - 100px);
width: 100px;
height: 100px;
clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
content: "";
position: absolute;
border-radius: 50%;
left: calc(50% - 100px);
top: calc(50% - 100px);
width: 200px;
height: 200px;
clip: rect(0, 50px, 100px, 0);
background:red;
transform: rotate(60deg);

}
.gt-50 .ppc-progress {
clip: rect(0, 50px, 100px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
clip: rect(0, 100px, 100px, 50px);
background:red;

}


.ppc-percents {
content: "";
position: absolute;
border-radius: 50%;
left: calc(50% - 173.91304px/2);
top: calc(50% - 173.91304px/2);
width: 173.91304px;
height: 173.91304px;
background: #fff;
text-align: center;
display: none;
}
.ppc-percents span {
display: block;
font-size: 2.6em;
font-weight: bold;
color:red;;
}

.pcc-percents-wrapper {
display: table-cell;
vertical-align: middle;
}

.progress-pie-chart {
margin: 50px auto 0;
}






.circliful .outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 19.8;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    
}

/* full circle 25 empty 534 */
.circliful .inner {
    fill: transparent;
    stroke: orange;
    stroke-width: 20;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
  
}

.circliful {
    overflow: visible !important;

}

.svg-container {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
}

svg .icon {
    font-family: Ionicons;
    font-size: 65px;
    display: none;

}

#test-circle1v2.number{
    display: none;
}
.bar-button-md[icon-only] ion-icon {
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 28px;
    font-size: 2.8em;
    line-height: .67;
    pointer-events: none;
}

.searchbar-md .searchbar-input {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 2px;
    height: auto;
    font-size: 1.0rem;
    /* font-weight: 400; */
    color: #141414;
    /* background-color: #fff; */
    /* background-position: 8px center; */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


}
